<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>PaintBall</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/">Назад</a>
<form th:if="${user}!=null" method="post">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    <p th:text="${user.username}"></p>
    <p>Заголовок: <input type="text" name="author" placeholder="Заголовок"></p>
    <p>Сообщение: <input type="text" name="text" placeholder="Текст"></p>
    <p><input type="submit" value="Отправить" /></p>
</form>
<h2>Сообщения</h2>
<div th:each="el : ${messages}">
    <h3 th:text="${el.authorName}"></h3>
    <p th:text="${el.text}"></p>
</div>
</body>
</html>